<section>
  <div class="hero mobile-wrapper">
    <div class="hero-mob-img">
      <img src="https://cdn.shopify.com/s/files/1/0614/4190/0599/files/mobile-banner.webp?v=1756410702">
    </div>
    <div class="hero-container">
      <div class="hero-content">
        <h2>Explore Eric Javits Collection </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
        <a>Shop Now</a>
      </div>
    </div>
    
  </div>
  
  <div class="hero desktop-wrapper">
    <div class="hero-container">
      <div class="hero-content">
        <h2>Explore Eric Javits Collection </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
        <a>Shop Now</a>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Home Banner",
  "class": "home-banner",
  "settings": [  ],
  "presets": [
    {
      "name": "Homepage Banner"
    }
  ]
}
{% endschema %}