<section>
    <div class="image-text-container">
        <div class="image-text-wrapper">
            <div class="text-block">
                <h2>Enjoy Exclusive Benefits</h2>
                <p>Our best pricing, plus cash-back rewards
                    Free or discounted design services ($349 value per project)
                    Dedicated account representative
                    Free samples
                    Access to our comprehensive Trade Portal
                    Our industry-leading warranty, and more
                </p>
                <a href="#" class="cta">Read More</a>
            </div>
            <div class="image-block">
                <img src="https://cdn.shopify.com/s/files/1/0614/4190/0599/files/portrait-smiling-young-couple_1.png?v=1756490931">            
            </div>
        </div>
    </div>

</section>
{% schema %}
{
    "name": "Image and Text",
    "class": "image-and-text",
    "settings":[],
    "presets":[
        {
            "name": "Image and Text"
        }
    ]
}
{% endschema %}